* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #787878;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5.56vw;
    padding: 1.25vw 2.95vw 0.83vw 2.083vw;
}

:root {
    --ratio1440: calc(100vw / 1440);
    --ratio768: calc(100vw / 768);
}

.logo {
    margin-right: 2.083vw;
}

.header__h1 {
    font-size: 2.5vw;
    align-self: center;
    color: #787878;
}

.header-links {
    margin-left: auto;
    align-self: center;
    margin-bottom: 0.3vw;
}

.header-links__registration {
    text-decoration: none;
    color: #1A226B;
    font-size: 1.67vw;
}

.header-links__input {
    text-decoration: none;
    color: #787878;
    margin-left: 1.6vw;
    font-size: 1.67vw;
}

.header-links__input:focus {
    color: #1A226B;
}

.header-links__registration:focus {
    color: #1A226B;
}

main {
    background: #FFFFFF;
}

input[type="email"]::placeholder { color: #CCCCCC; } 
input[type="password"]::placeholder { color: #CCCCCC; } 
textarea::placeholder { color: #CCCCCC; } 

body {
    margin: 0;
    padding: 0;
}

.main {
    background: #FFFFFF;
}

.main__form {
    display: flex;
    flex-direction: column;
    padding: 26px 45px 37px;
    border: none;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.main-form__caption {
    align-self: flex-start;
}

.main-form__caption_big {
    align-self: center;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 50px;
    line-height: 50px;
}

.main-form__caption_small {
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 16px;
}

.main-form__label {
    margin-top: 11px;
    font-size: 16px;
    line-height: 16px;
}  

.main-form__label-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-form__label_entrance {
    margin-bottom: 3px;
} 

.main-form__label_registration {
    position: relative;
    margin-bottom: 5px;
}

.main-form__label-registration_left {
    left: -11px;
}

.main-form__label-registration_right {
    color: #EE2424;
}

#email-attention {
    visibility: hidden;
}

#password-attention {
    visibility: hidden;
}

#repeat-attention {
    visibility: hidden;
}

.main-form__label_radio {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}       

.main-form__label_checkbox {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.main-form__input {
    align-self: stretch;
    height: 49px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 28px;
    line-height: 36px;
    border: 1px solid #787878;
    outline-color: black;
}

.main-form__button {
    align-self: center;
    margin-top: 52px;
    width: 180px;
    height: 52px;
    line-height: 16px;
    font-size: 24px;
    background: #1A226B;
    border: none;
    color: #FFFFFF;
}

.main-form__button_entrance {
    margin-top: 52px;
}

.main-form__button_registration {
    margin-top: 56px;
}

.main-form__textarea {
    align-self: stretch;
    resize: none;
    height: 246px;
    margin-bottom: 24px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 28px;
    line-height: 36px;
    border: 1px solid #787878;
    outline-color: black;
}

.main-form__checkbox {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-form__radiogroup {
    display: flex;
    flex-direction: column;
}  

.main-form__radioitem {
    position: relative;  
    display: flex;
    flex-direction: row;
}

    #margin9  {
    margin-bottom: 9px;
}

.main-form__radiogroup input {
    position: relative;
    width: 55px;
    height: 20px;
    margin: 0;
    opacity: 0;
    z-index: 20;
}

.main-form__radiogroup label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    border: 2px solid #787878;
    border-radius: 50%;
    height:20px; 
    width: 20px;
}

.main-form__radiogroup label {
    position: absolute;
    padding-left: 24px;
}

.main-form__radiogroup input:checked + label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    background-color: #787878;
    height:12px; 
    width: 12px;
}

.main-form__checkbox input {
    position: relative;
    width: 315px;
    height: 24px;
    margin: 0;
    opacity: 0;
    z-index: 20;
}

.main-form__checkbox label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    border: 2px solid #787878;
    height:24px; 
    width: 24px;
}

.main-form__checkbox label {
    position: absolute;
    padding-left: 30px;
}

.main-form__checkbox input:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: #787878;
    height:12px; 
    width: 12px;
}

@media screen and  (min-width: 769px)  {
    .header-side__heading {
      font-size: calc(36 * min(var(--ratio1440) * 1.3,1px));
      line-height: calc(36 * min(var(--ratio1440) * 1.3,1px));
    }

    .main__form_entrance {
      margin-top: calc(125px - 125 * 0.77 * (1px - min(var(--ratio1440),1px))); 
      margin-left: calc(437px - 437 * 1.734 * (1px - min(var(--ratio1440),1px)));  
      margin-bottom: calc(233px + 233 * 0.415 * (1px - min(var(--ratio1440),1px))); 
      margin-right: calc(408px - 408 * 1.704 * (1px - min(var(--ratio1440),1px)));
    }

    .main__form_registration {
      margin-top: calc(100px - 100 * 0.429 * (1px - min(var(--ratio1440),1px)));
      margin-left: calc(420px - 420 * 1.717 * (1px - min(var(--ratio1440),1px)));
      margin-bottom: calc(233px + 233 * 0.415 * (1px - min(var(--ratio1440),1px)));
      margin-right: calc(420px - 420 * 1.717 * (1px - min(var(--ratio1440),1px)));
    }
}  

@media screen and (max-width: 768px) {
    header {
        height: 10.42vw;
        padding: 3.1vw 3.7vw 3.65vw 2.60vw;
    }

    .logo {
        margin-right: 4.43vw;
    }

    .header__h1 {
        font-size: 3.13vw;
    }

    .header-links__input {
        margin-left: 4.4vw;
        font-size: 2.08vw;
    }

    .header-links__registration {
        font-size: 2.08vw;
    }

    .main__form {
        margin: calc(var(--ratio768) * 80) calc(var(--ratio768) * 84) calc(var(--ratio768) * 278) calc(var(--ratio768) * 84);
        padding: calc(var(--ratio768) * 26) calc(var(--ratio768) * 45) calc(var(--ratio768) * 37);
    }

    .main-form__caption_big {
        font-size: calc(50 * var(--ratio768));
        line-height: calc(50 * var(--ratio768));
    }

    .main-form__caption_small {
        margin-top: calc(11 * var(--ratio768));
        margin-bottom: calc(5 * var(--ratio768));
        line-height: calc(16 * var(--ratio768));    
        font-size: calc(16 * var(--ratio768));
    }

    .main-form__label {
        margin-top: calc(11 * var(--ratio768));
        height: calc(16 * var(--ratio768));
        font-size: calc(16 * var(--ratio768));
        line-height: calc(16 * var(--ratio768));
    }

    .main-form__label_entrance {
        margin-bottom: calc(3 * var(--ratio768));
    }

    .main-form__label_registration {
        margin-bottom: calc(5 * var(--ratio768));
    }

    .main-form__label_registration_left  {
        left: calc(-11 * var(--ratio768));
    }

    .main-form__label_radio {
        font-weight: 400;
        font-size: calc(14 * var(--ratio768));
        line-height: calc(20 * var(--ratio768));
    }

    .main-form__label_checkbox {
        font-weight: 400;
        font-size: calc(14 * var(--ratio768));
        line-height: calc(24 * var(--ratio768));
    }

    .main-form__input {
        height: calc(49 * var(--ratio768));
        padding-top: calc(7 * var(--ratio768));
        padding-bottom: calc(6 * var(--ratio768));
        padding-left: calc(15 * var(--ratio768));
        font-size: calc(28 * var(--ratio768));
        line-height: calc(36 * var(--ratio768));
    } 

    .main-form__textarea {
        height: calc(246 * var(--ratio768));
        padding-top: calc(7 * var(--ratio768));
        padding-bottom: calc(6 * var(--ratio768));
        padding-left: calc(15 * var(--ratio768));
        font-size: calc(28 * var(--ratio768));
        line-height: calc(36 * var(--ratio768));
    
    } 
    .main-form__button {
        align-self: center;
        margin-top: calc(52 * var(--ratio768));
        width: calc(180 * var(--ratio768));
        height: calc(52 * var(--ratio768));
        font-size: calc(24 * var(--ratio768));
        line-height: calc(16 * var(--ratio768)); 
        background: #1A226B;
        border: none;
        color: #FFFFFF;
    } 

    .main-form__checkbox input {
        width: calc(315 * var(--ratio768));
        height: calc(24 * var(--ratio768));
    }

    .main-form__checkbox label::before {
        border: calc(2 * var(--ratio768)) solid #787878;
        height:calc(24 * var(--ratio768)); 
        width: calc(24 * var(--ratio768));
    }

    .main-form__checkbox label {
        padding-left: calc(30 * var(--ratio768));
    }

    .main-form__checkbox input:checked + label::after {
        left: calc(6 * var(--ratio768));
        top: calc(6 * var(--ratio768));
        height:calc(12 * var(--ratio768)); 
        width: calc(12 * var(--ratio768));
    }

    #margin9 {
        margin-bottom: calc(9 * var(--ratio768));
    }

    .main-form__radiogroup input {
        width: calc(55 * var(--ratio768));
        height: calc(20 * var(--ratio768));
    }

    .main-form__radiogroup label::before {
        border: calc(2 * var(--ratio768)) solid #787878;
        height:calc(20 * var(--ratio768)); 
        width: calc(20 * var(--ratio768));
    }

    .main-form__radiogroup label {
        position: absolute;
        padding-left: calc(24 * var(--ratio768));
    }

    .main-form__radiogroup input:checked + label::after {
        left: calc(4 * var(--ratio768));
        top: calc(4 * var(--ratio768));
        height:calc(12 * var(--ratio768)); 
        width: calc(12 * var(--ratio768));
    }
}
