* {
    box-sizing: border-box;
}

html {
    width: 100vmax;
}

body {
    margin: 0;
    background: rgb(154, 114, 74);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.common-header {
    background: rgb(183, 140, 97);
    color: rgb(247, 240, 230);
}

h1 {
    margin: 0;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.common-aside {
    position: fixed;
    top: 130px;
    left: 8px;
    color: rgb(247, 240, 230);
    border-radius: 5%;
    box-shadow: 0 4px 7px -1px rgb(113, 82, 35); 
    padding: 20px;
    background: rgb(183, 140, 97);
}

.common-aside__a {
    text-decoration: none;
    color: rgb(247, 240, 230);
    display: flex;
    justify-content: center;
}

.common-aside__h2 {
    margin: 5px 5px 10px 5px;
}

.common-nav {
    position: fixed; 
    left: 8px;
    top: 280px;
    border-radius: 5%;
    box-shadow: 0 4px 7px -1px rgb(113, 82, 35); 
    padding: 20px;
    background: rgb(183, 140, 97);
}

.common-nav__a {
    text-decoration: none;
    color: rgb(247, 240, 230);
}

.common-input-button {
    position: absolute; 
    padding: 10px;
    align-items: center; 
    box-shadow: 0 4px 7px -1px rgb(113, 82, 35); 
    padding: 10px;
    background: rgb(183, 140, 97);
    display: flex;
    justify-content: center;
}

.common-section {
    position: absolute;
    top: 50px;
    left: 260px; 
    width: 70%;
    padding-bottom: 280px;
    z-index: -1;
}

.common-section__h2 {
    position: sticky;
    top: 0;
    background: rgb(183, 140, 97);
    padding: 10px;
    display: block;
    color: rgb(247, 240, 230);
}

.common-section__ul {
    color: rgb(247, 240, 230);
    list-style: none;
}